*{
    background-color: rgb(226, 212, 212);
}

.recipe{
    width: 400px;
    height: auto;
    border-radius: 8px;
}

span, .desc{
    font-family: 'Brush Script MT', cursive;
}

h1{
    text-align: center;
}

h3{
    text-align: center;
}

h4{
    text-align: center;
}

h5{
    text-align: center;
}